.ReceipeForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30vh 50vh;
}
.ReceipeForm .formbox{
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: #F5F5F5;
}
.title{
    font-weight: 700;
    color: #000000da;
    width: 20%;
    margin-bottom: 1rem;
    border-bottom: 1px solid #000;
}
.inputBox{
    /* border: 1px solid #4333; */
    width: 100%;
    height: 100%;
}
.inputBox .star{
    color: red;
}
/* dates styles ///////////////////////////*/
.inputBox .date-title{
    display: flex;
    justify-content: flex-start;
    align-items: center !important;
    margin-top: .5rem;
}
.inputBox .date{
    width: 30%;
    margin-left: 9rem;
    padding: .2rem;
    border: 1px solid #949595;
    border-radius: 5px;
}
/* amounts styles //////////////////////////*/
.inputBox .amount-title{
    margin-top: 1rem;
}
.inputBox .amount{
    width: 70%;
    margin-left: 7.4rem;
    padding: .3rem;
    border: 1px solid #949595;
    border-radius: 5px;
}
::placeholder{
    color: #C2C2C2 !important;
}
/* casah styles /////////////////////////////////*/
.cash{
    width: 70%;
    margin-left: 3.5rem;
    border: 1px solid #949595;
}

/* remark styles ///////////////////////////*/
.inputBox .remark{
    width: 70%;
    margin-left: 8rem;
    border: 1px solid #949595;
}

/* BUTTON CONTAINER STYLS */
 .btnBoxes{
    display: flex;
    justify-content: end !important;
    align-items: center;
    padding: 20px;

}
.btnBoxes .btn-cancel{
    border: 1px solid #E6C1C0;
    color: #C64F48;
    font-weight: 600;
    padding: 1rem 2rem;
    margin-right:6rem;
}
.btn-cancel .esc{
    border-bottom: 1px solid #C64F48;
}
.btnBoxes .btn-submit{
    background-color: #457B3B;
    border: none;
    color: #fff;
    font-weight: 600;
    padding: 1rem 2rem;

}
.btn-submit .sub{
    border-bottom: 1px solid #fff;
}